<!-- BEGIN: main -->
<div class="menu_footer">
	<ul>
	    <!-- BEGIN: top_menu -->
	    <li>
            <a href="{TOP_MENU.link}" title="{TOP_MENU.note}" {TOP_MENU.target}>{TOP_MENU.title_trim}</a>
	    </li>
	    <!-- END: top_menu -->
	</ul>
</div>
<!-- END: main -->