                </div>
            </section>
        </div>
        <footer id="footer">
            <div class="wraper">
                <div class="container">
                    <div class="row">
                    	<div class="col-xs-24 col-sm-24 col-md-24">
                            [FEATURED_PRODUCT]
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                    	<div class="col-xs-24 col-sm-16 col-md-16">
                            <div>
                            	[FOOTER_SITE]
                            </div>
                        </div>
                        <div class="col-xs-24 col-sm-8 col-md-8">
                            <div>
                                [QR_CODE]
                            </div>
                            <div id="ftip" data-content="">
                                <div class="bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <nav class="footer-bttop">
			<div class="bttop">
				<a class="pointer"><em class="fa fa-angle-double-up fa-lg"></em></a>
			</div>
		</nav>
        <nav class="footerNav2 hidden">
            <div class="wraper">
                <div class="container">
                    <!-- BEGIN: theme_type -->
                    <div class="theme-change">
                    <!-- BEGIN: loop -->
                        <!-- BEGIN: other -->
                        <a href="{STHEME_TYPE}" rel="nofollow" title="{STHEME_INFO}"><em class="fa fa-{STHEME_ICON} fa-lg"></em></a>
                        <!-- END: other -->
                        <!-- BEGIN: current -->
                        <span title="{LANG.theme_type_select}: {STHEME_TITLE}"><em class="fa fa-{STHEME_ICON} fa-lg"></em></span>
                        <!-- END: current -->
                    <!-- END: loop -->
                    </div>
                    <!-- END: theme_type -->
                    <div class="bttop">
                        <a class="pointer"><em class="fa fa-eject fa-lg"></em></a>
                    </div>
                </div>
            </div>
        </nav>
        {ADMINTOOLBAR}
    </div>
    <!-- SiteModal Required!!! -->
    <div id="sitemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <em class="fa fa-spinner fa-spin">&nbsp;</em>
                </div>
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
            </div>
        </div>
    </div>
	<div class="fix_banner_left">
		[FIX_BANNER_LEFT]
	</div>
	<div class="fix_banner_right">
		[FIX_BANNER_RIGHT]
	</div>