/**
 * @Project NUKEVIET 4.x
 * @Author VINADES.,JSC <contact@vinades.vn>
 * @Copyright (C) 2014 VINADES.,JSC. All rights reserved
 * @License GNU/GPL version 2 or any later version
 * @Createdate Thu,17 Apr 2014 04:03:46 GMT
 */

/* NUKEVIET ICONS */

@font-face {
    font-family:'Roboto-Medium';
    src:url('../../shop_phone/fonts/Roboto-Medium.ttf');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Roboto-Bold';
    src:url('../../shop_phone/fonts/Roboto-Bold.ttf');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Roboto-Light';
    src:url('../../shop_phone/fonts/Roboto-Light.ttf');
    font-weight:normal;
    font-style:normal;
}
body{
	font-family: 'Roboto-Light',sans-serif;
	background-color: #fff
}
#body{
	border-color: transparent;
    border-style: solid;
    border-width: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.body-bg{
	background: transparent;
}

#header{
	margin-top: 40px
}

#header .logo{
	padding: 17px 10px
}
#footer{
	min-height: 0;
	border-top-color: #302f34;
    border-bottom-color: #302f34;
    background-color: #302f34;
}
#footer, #footer a{
	color: #FFF
}
.site-banner-bg {
    background: #2775d2;
    height: 133px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.site-banner-bg1 {
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #1b5191
}
.site-menu-bg {
    background: #1b5191;
    height: 45px;
    position: absolute;
    top: 133px;
    left: 0;
    width: 100%;
}
.padding-thum{
	padding: 10px !important;
}
/*CSS shop */
#products .margin-col-news .padding-product{
	padding: 7px
}
.thumbnail .info_pro .label_product {
    position: absolute;
    top: 5px;
    right: 20px;
}
.thumbnail .info_pro .label_product_new {
    position: absolute;
    top: 5px;
    left: 20px;
}
.label_product .label_sale{
	width: 34px;
    height: 44px;
    padding-top: 22px;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    text-align: center;
    color: #fff;
    font-weight: 500;
    background-image: url(../images/icons/sale.svg);
    display: block;
    background-color: transparent;
    line-height: 1.1;
}
.label_product_new .label_sale_news{
	width: 34px;
    height: 44px;
    padding-top: 22px;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    text-align: center;
    color: #fff;
    font-weight: 500;
    background-image: url(../images/icons/new.png);
    display: block;
    background-color: transparent;
    line-height: 1.1;
}
.no-border{
	border: 0px;
	margin-bottom: 0px
}
.css-h2 h2{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px !important;
	color: #444 !important;
	margin-bottom: 15px
}
.product_info h1{
	font-family: 'Roboto-Medium',sans-serif;
	font-size: 24px
}
#detail ul.product_info .font-text-li{
	font-size: 13px !important;
}
#detail ul.product_info li .text-price{
	font-size: 19px !important;
	font-family: 'Roboto-Bold',sans-serif;
}
.money{
	padding: 0px !important;
	color: #ff3425 !important;
}
.discounts_money{
	text-decoration: none !important;
	font-size: 13px
}
.border-li{
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.zoomLens{
	border-radius: 50%
}
.img-thumbnail{
	background-color: transparent;
    border-radius: 0px;
    padding: 0px;
}
.margin-col-news{
	padding-right: 15px
}
.margin-col-news .thumbnail{
	border-radius: 0px;
	padding: 0px;
}
/*CSS Liên hệ */
.well{
	background-color: #FFF;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.css-full-name h3, .css-feedback{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 10px
}
.panel-contact{
	padding: 15px 10px
}
.panel-contact p{
	margin-bottom: 4px
}

.caption h4 a {
    font-size: 16px;
    font-family: 'Roboto-Bold', sans-serif;
    color: #333;
}
.caption .text-muted .list-inline {
    font-size: 12px;
}
/*CSS cart module shop */
.carthome{
    position: relative;
}
.carthome div p strong{
    text-transform: uppercase;
    font-weight: bold;
}
.carthome div{
    padding: 0;
}
.carthome div.text-center{
    color: #575454;
    cursor: pointer;
    font-size: 20px;
    padding: 4px 0px;
}
.carthome div.text-center a{
    color: #FFF;
}
.carthome div.text-center a:hover{
	color: #EEE
}
.carthome div.text-center:hover{    
    background-color: transparent;
    border-color: transparent;
    color: #FFF
}
.carthome div.notify{
    background: #ffc000;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    line-height: normal;
    font-size: 11px;
    padding-top: 3px;
    z-index: 1;
    border-radius: 10px
}
.carthome div.cart-block{
    display: inline-block;
    position: absolute;
    top: 100%;
    right:-50px;
    z-index: 1002;
    max-height: 500px;
    overflow-y: auto;
    background: #FFF;
    color: #666;
    width: 230px;
    opacity: 0;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(50,50,50,0.2);
    -moz-box-shadow: 0px 4px 7px 0px rgba(50,50,50,0.2);
    box-shadow: 0px 4px 7px 0px rgba(50,50,50,0.2);
    -webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: opacity 0.5s,transform 0.5s;
    -webkit-transform: translate(0,40px);
    -moz-transform: translate(0,40px);
    -o-transform: translate(0,40px);
    -ms-transform: translate(0,40px);
    transform: translate(0,40px);
    opacity: 0;
    display: block;
    visibility: hidden;
    padding: 10px;
}
.carthome div.cart-block p:last-child{
    margin-bottom: 0;
}
.carthome:hover .cart-block {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}
/* CSS Menu */
.mobile-menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.mobile-menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #2775d2;
    z-index: 9999;
    visibility: hidden;
    transform: translateX(100%);
}

.mobile-menu-wrap.animate {
    transition: all 0.35s ease;
}

.mobile-menu-wrap .logo {
    padding: 10px;
    text-align: center;
}

.mobile-menu-wrap .logo img {
    height: 50px;
    width: auto;
}

.mobile-menu-wrap .menu {
    height: calc(100vh - 111px);
    overflow: auto;
}

.mobile-menu-wrap .mfooter {
    background-color: #fff;
    height: 30px;
    padding: 10px;
    text-align: center;
    color: #777;
}

.mobile-menu-toggle-btn {
    cursor: pointer;
    background-color: #2775d2;
    width: 37px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    border-radius: 3px;
    display: none;
}

.mobile-menu-toggle-btn:hover {
    background-color: #245682;
}

.mobile-menu-toggle-btn i {
    color: #fff;
}
/*CSS search */
.headerSearch, .headerSearch-mobile{
	margin: 0.15em 0.35em 0.5em;
}

.headerSearch input, .headerSearch-mobile input{
	border-color: transparent;
	border-radius: 0px;
	box-shadow:none;
	-webkit-box-shadow:none
}
.headerSearch .btn-info, .headerSearch-mobile .btn-info{
	background-color: #fff;
    border-color: transparent;
    color: #333;
    border-radius: 0
}
.headerSearch .input-group, .headerSearch-mobile .input-group{
	border: 1px solid #ccc;
}

/*CSS block menu bootstrap */
.second-nav .bg{
	background: transparent;
    background-image: none !important;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#menusite .navbar-default{
	background-color: transparent;
    border-bottom-color: transparent;
    border-bottom-width: 0px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#menusite .navbar-default .navbar-nav > li > a:hover, #menusite .navbar-default .navbar-nav > li > a:focus, #menusite .navbar-default .navbar-nav > .active > a, #menusite .navbar-default .navbar-nav > .active > a:hover, #menusite .navbar-default .navbar-nav > .active > a:focus, #menusite .navbar-default .navbar-nav > .open > a, #menusite .navbar-default .navbar-nav > .open > a:hover, #menusite .navbar-default .navbar-nav > .open > a:focus{
	background: none !important;
	color: #eee !important;
}
#menusite .dropdown-menu{
	-webkit-border-bottom-left-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0 !important;
    background-color: #fff !important;
}
#menusite .navbar-nav > li > a{
	font-size: 1.1em
}
.third-nav .bg{
	background-color: transparent;
}
.third-nav .row{
	border-bottom-width: 0px;
}
.panel-primary {
    border-color: #eee;
    border-radius: 0px;
}
.panel-primary>.panel-heading {
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Roboto-Medium', sans-serif;
    background-color: transparent;
    background-image: none !important;
    color: #333;
    border-color: #eee;
}
.no-border {
    border: 0px;
    margin-bottom: 0px;
}

/*CSS block menu */
.menu_footer{
	height: 40px;
    line-height: 3em;
}
.menu_footer ul{
	display: inline-flex;
    padding-left: 0;
}
.menu_footer ul li{
	padding-right: 15px;	
}
.menu_footer ul li a{
	border-right: 1px solid #ccc;
	padding-right: 15px;
	font-size: 13px
}
.menu_footer ul li:last-child a{
	border-right: none
}
.well {
    background-color: #FFF;
    border: 0px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel{
	border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (min-width: 768px){
	.navbar-nav>li>a {
    	padding-top: 15px;
    	padding-bottom: 13px;
	}
	.padd-right-col{
		padding-right: 15px
	}
	.padd-left-col{
		padding-left: 15px
	}
	.carthome div.cart-block{
		right: 0px;
	}
}
@media (max-width: 767px){
	.position-col{
		position: absolute;
		top: -38px;
    	left: 5px;
    	z-index: 10
	}
	.carthome div.cart-block{
		left: 0px;
		top: 100%
	}
	.search_shop{
		display: none
	}
	.menu_footer{
		display: none
	}
	.panel-home span a{
		display: none
	}
}
@media (max-width: 999px){
	.carthome div.text-center{
		text-align: right;
    	margin-right: 35px;
	}
	.carthome div.notify{
		right: 20px !important;
    	top: 0px !important;
	}
	.carthome div.text-center:hover{
		background-color: transparent !important;
		border-color: transparent !important;
	}
	#menusite .navbar-default{
		display: none
	}
	#menusite .navbar-toggle{
		margin-right: 0px
	}
	#menusite{
		position: relative;
	}
	.second-nav {
        display: none;
    }
	#header .logo{
		text-align: left;
	}
    .mobile-menu-toggle-btn {
        display: block;
    }

    .open-menu .mobile-menu-bg {
        display: block;
    }

    .open-menu .mobile-menu-wrap {
        visibility: visible;
        transform: translateX(0px);
    }
    .headerSearch{
    	display: none;
    }
}

/*CSS block search product */
.custom-select {
  position: relative;
  font-family: Arial;
  padding: 0
}
.custom-select select {
  display: none; /*hide original SELECT element: */
}
.select-selected {
  background-color: transparent;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select-selected {
  	color: #FFF;
    padding: 8px 16px;
    border: 1px solid #FFF;
    cursor: pointer;
    border-radius: 5px;
}
.select-items {
  position: absolute;
  background-color: #FFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 5px
}
.select-items div{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.input-sm{
	height: 37px;
}
.search_shop div span button {
	padding: 8.7px 10px;
} 
@media (min-width: 768px) and (max-width:999px){
	.search_shop{
		top: 30px;
		position: relative;
	}
	.position-col{
		top: 30px;
	}
}
/*CSS button footer */
.footer-bttop .bttop {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 1;
}

.footer-bttop .bttop a {
    display:block;
    line-height:40px;
    background-color:#2A4769;
    color:#fff;
    font-size:14px;
    text-align:center;
    border-radius:20px;
    -webkit-border-radius:20px;
}

.footer-bttop .bttop a:hover {
    color:#fff;
    background-color:#428BCA;
}

.footer-bttop .bttop em {
    margin-right:-2px;
}
.nv-block-banners:before {
	content: '';
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../images/icons/icon-plus.png) no-repeat scroll center center;
    left: 0;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5) rotateY(180deg);
    -moz-transform: scale(0.5) rotateY(180deg);
    -webkit-transform: scale(0.5) rotateY(180deg);
    -ms-transform: scale(0.5) rotateY(180deg);
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 9;
}
.nv-block-banners:hover:before {
    transform: scale(1) rotateY(0deg);
    -moz-transform: scale(1) rotateY(0deg);
    -webkit-transform: scale(1) rotateY(0deg);
    -ms-transform: scale(1) rotateY(0deg);
    visibility: visible;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}

.button.dark{
	color: #fff;
    border-color: #48290c;
}
.button.dark:hover{
	color: #252a2b;
}
.button {
    position: relative;
    display: inline-block;
    padding: 10px 28px;
    line-height: normal;
    border: 1px solid #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    color: #252a2b;
    overflow: hidden;
}
.button.dark:before {
    background-color: #48290c;
}
.button:before {
    position: absolute;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),-webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button:hover:before {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.product-box .button {
    width: 100%;
    padding: 10px 5px;
}
@media (max-width:1023px){
	.display-mobile{
		display: none
	}
}
@media (min-width:1023px){
	.padding-row .margin-col-news:nth-of-type(4n) {
		padding-right: 5px;
	}
}
.panel-home{
	padding: 10px;
	background-color: #2874d2;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-home h2 a, .panel-home span a{
	color: #FFF;
}
#footer h4 {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Roboto-Bold', sans-serif;
}
.list-links{
	padding-left: 0px
}
.list-links li{
	line-height: 2em
}
.fb_iframe_widget_fluid span{
	max-width: 100% !important;
}
.fb_iframe_widget iframe, .fb_iframe_widget {
	max-width:100% !important;
}
.company_info{
	padding-left: 0px
}
.company_info li{
	line-height: 2em
}
#footer h3{
	color: #FFF;
	font-family: 'Roboto-Bold', sans-serif;
}
.dropdown-menu{
	font-size: 14px
}
.title{
	font-family: 'Roboto-Bold',sans-serif;
}