.menu-mobile-css .sidebar-nav{
	border-bottom: 0px solid rgba(0,0,0,0.2);
    background: transparent;
    background-image: none;
    background-repeat: repeat-x;
    margin: 0;
}
.menu-mobile-css .sidebar{
	background: transparent;
}
.menu-mobile-css{
	background-color: transparent;
}
.menu-mobile-css .sidebar-nav ul a{
	font-family: 'Roboto-Medium',sans-serif;
	font-size: 1em;
	color: #FFF !important;
}

.metismenu .sidebar-nav ul a:hover {
	background: transparent;
}